.navbar {
  background-color: rgba(45, 2, 85, 0);
  background-color: gra;
  top: 0;
  z-index: 3;
}
.navbar .name {
  font-family: "Roboto", sans-serif;
}

#portada {
  height: 110vh;
  padding-bottom: 5%;
  font-family: "Roboto", sans-serif;
  background-image: url(../img/fondo1.jpg);
  background-attachment: fixed;
  padding-top: 80px;
  margin-top: -80px;
}
#portada h1 {
  font-size: 3rem;
}
#portada h5 {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
#portada .portada-mobile {
  display: none !important;
}
#portada .left-portada {
  animation: entrada 1.3s;
}
@keyframes entrada {
  0% {
    transform: translate(-300px);
  }
  100% {
    transform: translate(0);
  }
}
#portada img {
  animation: entrada-up 1.3s;
}
@keyframes entrada-up {
  0% {
    opacity: 0;
    transform: rotate(60deg);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}
#portada .logos {
  animation: entrada-right 1s;
}
@keyframes entrada-right {
  0% {
    transform: translateX(200px);
  }
  100% {
    transform: translate(0);
  }
}

#formacion .coder {
  border-left: 2px solid #b6b6b6;
  border-right: 2px solid #b6b6b6;
}

#acercaDeMi .acerca-mobile {
  display: none !important;
}

#skills .skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#skills .skills-container .skill-card {
  width: 10rem;
  height: 150px;
  border-radius: 0.2rem;
  border: 1px solid #d1d1d1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#skills .skills-container .skill-card:hover {
  background-color: #f0f0f0;
}
#skills .skills-container .skill-card .btn-skill {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0) !important;
  border: none;
}
#skills .skills-container .skill-card .btn-skill:active {
  border: none;
  box-shadow: none !important;
}
#skills .skills-container .skill-card .btn-skill:visited {
  outline: none;
}
#skills .skills-container .skill-card .btn-skill:focus {
  box-shadow: none;
}
#skills .skills-container .skill-card .btn-skill .card-content {
  width: 90%;
  height: 130px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: black;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-html5 {
  color: #ff7300;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-css3-alt {
  color: #0000c5;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-js {
  color: #ffe600;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-bootstrap {
  color: #7952B3;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-sass {
  color: #C16595;
}
#skills .skills-container .skill-card .btn-skill .card-content .fa-java {
  color: #414141;
}
#skills .skills-container .skill-card .btn-skill .card-content .empty {
  visibility: hidden;
}
#skills .skills-container .modal .pb-html {
  background-color: #ff7300;
  width: 100%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: html 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
#skills .skills-container .modal .pb-css {
  background-color: #0000c5;
  width: 90%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: css 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
#skills .skills-container .modal .pb-js {
  background-color: #ffe600;
  width: 30%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: js 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
#skills .skills-container .modal .pb-bt {
  background-color: #7952B3;
  width: 90%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: bt 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes bt {
  from {
    width: 0;
  }
  to {
    width: 90%;
  }
}
#skills .skills-container .modal .pb-sass {
  background-color: #C16595;
  width: 80%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: sass 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes sass {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
#skills .skills-container .modal .pb-java {
  background-color: #414141;
  width: 40%;
  animation: filol 1.5s;
  animation: filol 1.5s;
  animation: java 1.5s;
}
@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes java {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

.mapa {
  width: 100%;
  height: 62%;
}

@media (max-width: 600px) {
  #portada .portada-mobile {
    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #acercaDeMi .acerca-mobile {
    display: flex !important;
    height: 70vh;
  }

  .acerca-mobile p {
    font-size: 1rem;
    line-height: 2.4rem;
  }

  .container-portada {
    display: none !important;
  }

  .portada-mobile h1 {
    font-size: 2rem !important;
  }

  .row-acerca {
    display: none;
  }

  .acerca-mobile {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    text-align: left;
  }

  .formacion-container {
    flex-direction: column;
  }

  .formacion-container div {
    width: 100% !important;
    border: none;
    margin-bottom: 5%;
  }

  #formacion .coder {
    border: none;
  }

  #formacion h3 {
    margin-bottom: 5%;
  }

  .proyectos-mobile {
    flex-direction: column;
    align-items: center;
  }

  .proyectos-mobile .card {
    margin-bottom: 8%;
  }

  #contacto .row {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
