$html-color: rgb(255, 115, 0);
$css-color:  rgb(0, 0, 197);
$js-color: rgb(255, 230, 0);
$bt-color: #7952B3;
$sass-color: #C16595;
$java-color: rgb(65, 65, 65);
$html-progreso: 100%;
$css-progreso: 90%;
$js-progreso: 30%;
$bt-progreso: 90%;
$sass-progreso: 80%;
$java-progreso: 40%;


